body{
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    padding-top: 0.15em;
    color: #ECE9E6;
}

.body-container {
    /* background: black; */
    border: #000 solid 1px  ;
    margin-top: 100px;
    width: 450px;
    height: 700px;
    padding: 0;
    border-radius: 10px;
}

.input-container {
    background: linear-gradient(230deg, #f46b45, #eea849);
    width: 100%;
    height: 55%;
    padding: 0;
    border-radius: 10px 10px 0 0;
}

.output-container {
    background: linear-gradient(#ECE9E6, #FFFFFF);
    width: 100%;
    height: 45%;
    padding: 0;
    border-radius: 0 0 10px 10px;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    padding: 0.2em;
}

.nav {
    display: none;
}

.button-media {
    background: url("img/menu.png");
    padding: 0.4em;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}

.button-media.active {
    z-index: 500;
    background: url("img/close.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    transition: 0.3s ease;
    padding: 0.4em;
}

header .nav.active {
    position: fixed;
    width: 450px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
    border-radius: 10px;
  
}

input {
    background: none;
    border: none;
    font-size: 40px;
    width: 7em ;
    color: #ECE9E6;
    font-weight: 200;
    margin-top: 3em;
    margin-left: 0.5em;

}

input::after {
    content: "";
    background: none;
    border: none;
    outline: none;
}

input:focus {
    border: none;
    outline: none;
}

input:active {
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.line{
    display: block;
    margin-top: 0.2em;
    margin-left: 1em;
    width: 18em;
    height: 0.1875em;
    background: #fff;
}

#fromUnit{
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    background: #f46b45;
    margin-left: 30px;
    border: #ECE9E6 1px solid;
    color: #ECE9E6;
}

#fromUnit option {
    text-align: center;
    word-spacing: 5px;
    outline: none;
    border: none;
    background: #eea849;
}

#result {
    color: #f46b45;
}

.output-line{
    display: block;
    margin-top: 0.2em;
    margin-left: 1em;
    width: 18em;
    height: 0.1875em;
    background:#eea849;
}

#toUnit {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    background: #ECE9E6;
    margin-left: 30px;
    border: #f46b45 1px solid;
    color: #f46b45;
}

#toUnit option {
    text-align: center;
    word-spacing: 5px;
    outline: none;
    border: none;
    background: #eea849;
}